@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your own online bookshelf!</h1>
    <br>
    <p>Join us and share your reading adventures.</p>
</div>
